.side_bar
  .side_bar--top
    .user_area
      %p.user_area--name #{current_user.name}
      .user_area--menus
        = link_to new_group_path  do
          %i.fas.fa-edit
        = link_to edit_user_path(current_user)  do
          %i.fas.fa-cog
  .side_bar--bottom
    - current_user.groups.each do |g|
      .message_list
        =link_to "#",class: "group_link" do
          %p.message_list--group_name #{g.name}
          %p.message_list--latest_message メッセージはありません
