<div class="side_bar">

  <div class="side_bar--top">
    <div class="user_area">
      <p class="user_area--name">yamamoto</p>
      <div class="user_area--menus">
        <%= link_to "#"  do%>
          <i class="fas fa-edit"></i>
        <% end%>
        <%= link_to "#"  do%>
          <i class="fas fa-cog"></i>
        <% end%>
      </div>
    </div>
  </div>

  <div class="side_bar--bottom">
    <div class="message_list">
      <p class="message_list--group_name">tech_camp</p>
      <p class="message_list--latest_message">メッセージはありません</p>
    </div>
  </div>

  
</div>