.wrapper{
  display: flex;

  .side_bar{
    width: 300px;
    height: 100vh;
    background-color: #253141;
    &--top{
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      .user_area{
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        &--name{
        font-size: 16px;

        }
        &--menus{
          width: 60px;
          display: flex;
          justify-content: flex-end;
          .fas{
            color: white;
            font-size: 16px;
            margin-left: 5px;
          }
        }
      }
    }
    &--bottom{
      width: 100%;
      height: calc(100% - 100px);
      background-color: #2f3e51;
      .message_list{
        padding: 20px 20px 40px 20px;
        color: white;
        .group_link{
          text-decoration: none;
          color: white;
        }
        &--group_name{
          font-size: 15px;
          font-weight: bold;
        }
        &--latest_message{
          font-size: 11px;
        }
      }
    }
  }

  .main_chat{
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
    &--top{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      .group{
        margin-left: 40px;
        padding-top: 35px;
        &--name{
          color: #333333;
          font-size: 20px;
        }
        &--members{
          margin-top: 15px;
          color: #999999;
          font-size: 12px;
        }
      }
      .edit_btn{
        height: 40px;
        width: 72px;
        border: 1px #38aef0 solid;
        color: #38aef0;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        text-decoration: none;
        margin: 28px 40px 0 0;
      }
    }
    &--middle{
      width: 100%;
      height: calc(100% - 190px);
      background-color: #fafafa;
      padding: 35px 0 0 40px;
      overflow: scroll;
      .message{
        margin-bottom: 46px;
        &__top{
          margin-bottom: 12px;
          display: flex;
          justify-content: flex-start;
          &--name{
            font-size: 16px;
            color: #333333;
            padding-right: 5px;
          }
          &--date{
            font-size: 12px;
            color: #999999;
          }
        }
      }
    }
    &--bottom{
      width: 100%;
      height: 90px;
      background-color: #d2d2d2;
      display: flex;
      align-items: center;
      padding: 0 40px;
      .message_form{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .message_area{
          width: 100%;
          position: relative;
          margin-right: 15px;
          .message_text{
            height: 50px;
            width: 100%;
            padding: 0 10px;
          }
          .file_label{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            cursor: pointer;
            .file_uploader{
              display: none;
            }
          }
        }
        .message_submit{
          width: 100px;
          height: 50px;
          background-color: skyblue;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}